<div id="register-page">
    <div class="container">
			<div id='sport-selector' class="form-group">
				<label for="sel1">Select Sport:</label>
				<select class="form-control" id="sel1">
					<option value="---">---</option>
					<option value="aquatics">Aquatics</option>
					<option value="basketball">Basketball</option>
					<option value="hockey">Hockey</option>
					<option value="football">Football</option>
				</select>
			</div>

			<div id='category-selector' class="form-group">
				<label for="sel1">Select Category:</label>
				<select class="form-control" id="sel2">
					<option value="---">---</option>
					<option value="participant">Participant</option>
					<option value="staff">Staff</option>
				</select>
			</div>

			<div id='gender-selector' class="form-group hide">
				<label for="sel1">Select Gender:</label>
				<select class="form-control" id="sel3">
					<option value="men">Male</option>
					<option value="women">Female</option>
				</select>
			</div>
		<div id="btn1" class="col-xs-12">
			<button id='btn-click'>Get Registration form</button>
		</div>
    </div>
</div>