<div class="container">
	<header class="row" style="margin-top: 10px;">
    	<nav class="col-md-12 col-md-offset-2">
        	<ul class="nav nav-pills">
            	<li [class.active]="dept == 'WebOps'"><a (click)="webopsclicked()">WebOps</a></li>
            	<li [class.active]="dept == 'Spons'"><a (click)="sponsclicked()">Spons</a></li>
            	<li [class.active]="dept == 'Design'"><a (click)="designclicked()">Design</a></li>
            	<li [class.active]="dept == 'Media'"><a (click)="mediaclicked()">Media</a></li>
            	<li [class.active]="dept == 'Facilities'"><a (click)="facilitiesclicked()">Facilities</a></li>
            	<li [class.active]="dept == 'Finance'"><a (click)="financeclicked()">Finance</a></li>
            	<li [class.active]="dept == 'Events'"><a (click)="eventsclicked()">Events</a></li>
            	<li [class.active]="dept == 'Security'"><a (click)="securityclicked()">Security</a></li>
            	<li [class.active]="dept == 'Hospitality'"><a (click)="hospiclicked()">Hospitality</a></li>
        	</ul>
    	</nav>
	</header>

<!--  [ngStyle]="{'background-image': 'url('+image_url+coord.PhotoID+')'}" -->

<div class="centerflipcards">

  <div class="row" *ngIf="dept == 'WebOps'">
            <!-- For Each Department------WebOps-->
  <h2>WebOps & MobOps</h2>  
	<div class="square-flip" *ngFor="let coord of WebOps">
		<div class='square' [ngStyle]="{'background-image': 'url('+image_url+coord.PhotoID+')'}">
			<div class="square-container">
				
				<h2 class="textshadow">{{coord.Name}}</h2>
				<h3 class="textshadow">{{coord.Position}}</h3>
			</div>
			<div class="flip-overlay"></div>
		</div>
		<div class='square2' style="background-image: url('./app/assets/contactme1.jpg')">
			<div class="square-container2">
				<div class="align-center"></div>
				<h2>Contact Number: {{coord.MobileNo}} <br> Email Id: {{coord.Email}}</h2>
			</div>
			<div class="flip-overlay"></div>
		</div>
	</div>
  </div>
        
  <div class="row" *ngIf="dept == 'Spons'">
        <!-- Spons -->
    <h2>Spons</h2>  
	<div class="square-flip" *ngFor="let coord of Spons">
		<div class='square' [ngStyle]="{'background-image': 'url('+image_url+coord.PhotoID+')'}">
			<div class="square-container">
				
				<h2 class="textshadow">{{coord.Name}}</h2>
				<h3 class="textshadow">{{coord.Position}}</h3>
			</div>
			<div class="flip-overlay"></div>
		</div>
		<div class='square2' style="background-image: url('./app/assets/contactme1.jpg')">
			<div class="square-container2">
				<div class="align-center"></div>
				<h2>Contact Number: {{coord.MobileNo}} <br> Email Id: {{coord.Email}}</h2>
			</div>
			<div class="flip-overlay"></div>
		</div>
	</div>

  </div>

  <div class="row" *ngIf="dept == 'Design'">
            <!-- Design -->
    <h2>Design</h2>  
	<div class="square-flip" *ngFor="let coord of Design">
		<div class='square' [ngStyle]="{'background-image': 'url('+image_url+coord.PhotoID+')'}">
			<div class="square-container">
				
				<h2 class="textshadow">{{coord.Name}}</h2>
				<h3 class="textshadow">{{coord.Position}}</h3>
			</div>
			<div class="flip-overlay"></div>
		</div>
		<div class='square2' style="background-image: url('./app/assets/contactme1.jpg')">
			<div class="square-container2">
				<div class="align-center"></div>
				<h2>Contact Number: {{coord.MobileNo}} <br> Email Id: {{coord.Email}}</h2>
			</div>
			<div class="flip-overlay"></div>
		</div>
	</div>
  </div>

  <div class="row" *ngIf="dept == 'Facilities'">
            <!-- Facilities -->
    <h2>Facilities & Requirements</h2>  
	<div class="square-flip" *ngFor="let coord of Facilities">
		<div class='square' [ngStyle]="{'background-image': 'url('+image_url+coord.PhotoID+')'}">
			<div class="square-container">
				
				<h2 class="textshadow">{{coord.Name}}</h2>
				<h3 class="textshadow">{{coord.Position}}</h3>
			</div>
			<div class="flip-overlay"></div>
		</div>
		<div class='square2' style="background-image: url('./app/assets/contactme1.jpg')">
			<div class="square-container2">
				<div class="align-center"></div>
				<h2>Contact Number: {{coord.MobileNo}} <br> Email Id: {{coord.Email}}</h2>
			</div>
			<div class="flip-overlay"></div>
		</div>
	</div>
  </div>


  <div class="row" *ngIf="dept == 'Events'">
            <!-- Events -->
    <h2>Events</h2>  
	<div class="square-flip" *ngFor="let coord of Events">
		<div class='square' [ngStyle]="{'background-image': 'url('+image_url+coord.PhotoID+')'}">
			<div class="square-container">
				
				<h2 class="textshadow">{{coord.Name}}</h2>
				<h3 class="textshadow">{{coord.Position}}</h3>
			</div>
			<div class="flip-overlay"></div>
		</div>
		<div class='square2' style="background-image: url('./app/assets/contactme1.jpg')">
			<div class="square-container2">
				<div class="align-center"></div>
				<h2>Contact Number: {{coord.MobileNo}} <br> Email Id: {{coord.Email}}</h2>
			</div>
			<div class="flip-overlay"></div>
		</div>
	</div>
  </div>

  <div class="row" *ngIf="dept == 'Media'">
            <!-- Media -->
    <h2>Media</h2>  
	<div class="square-flip" *ngFor="let coord of Media">
		<div class='square' [ngStyle]="{'background-image': 'url('+image_url+coord.PhotoID+')'}">
			<div class="square-container">
				
				<h2 class="textshadow">{{coord.Name}}</h2>
				<h3 class="textshadow">{{coord.Position}}</h3>
			</div>
			<div class="flip-overlay"></div>
		</div>
		<div class='square2' style="background-image: url('./app/assets/contactme1.jpg')">
			<div class="square-container2">
				<div class="align-center"></div>
				<h2>Contact Number: {{coord.MobileNo}} <br> Email Id: {{coord.Email}}</h2>
			</div>
			<div class="flip-overlay"></div>
		</div>
	</div>
  </div>

  <div class="row" *ngIf="dept == 'Security'">
            
            <!-- Security -->
    <h2>Security</h2>  
	<div class="square-flip" *ngFor="let coord of Security">
		<div class='square' [ngStyle]="{'background-image': 'url('+image_url+coord.PhotoID+')'}">
			<div class="square-container">
				
				<h2 class="textshadow">{{coord.Name}}</h2>
				<h3 class="textshadow">{{coord.Position}}</h3>
			</div>
			<div class="flip-overlay"></div>
		</div>
		<div class='square2' style="background-image: url('./app/assets/contactme1.jpg')">
			<div class="square-container2">
				<div class="align-center"></div>
				<h2>Contact Number: {{coord.MobileNo}} <br> Email Id: {{coord.Email}}</h2>
			</div>
			<div class="flip-overlay"></div>
		</div>
	</div>
  </div>

  <div class="row" *ngIf="dept == 'Hospitality'">

            <!-- Hospitality -->
    <h2>Hospitality</h2>  
	<div class="square-flip" *ngFor="let coord of Hospitality">
		<div class='square' [ngStyle]="{'background-image': 'url('+image_url+coord.PhotoID+')'}">
			<div class="square-container">
				
				<h2 class="textshadow">{{coord.Name}}</h2>
				<h3 class="textshadow">{{coord.Position}}</h3>
			</div>
			<div class="flip-overlay"></div>
		</div>
		<div class='square2' style="background-image: url('./app/assets/contactme1.jpg')">
			<div class="square-container2">
				<div class="align-center"></div>
				<h2>Contact Number: {{coord.MobileNo}} <br> Email Id: {{coord.Email}}</h2>
			</div>
			<div class="flip-overlay"></div>
		</div>
	</div>
  </div>

  <div class="row" *ngIf="dept == 'Finance'">
            
            <!-- Finance -->
    <h2>Finance</h2>  
	<div class="square-flip" *ngFor="let coord of Finance">
		<div class='square' [ngStyle]="{'background-image': 'url('+image_url+coord.PhotoID+')'}">
			<div class="square-container">
				
				<h2 class="textshadow">{{coord.Name}}</h2>
				<h3 class="textshadow">{{coord.Position}}</h3>
			</div>
			<div class="flip-overlay"></div>
		</div>
		<div class='square2' style="background-image: url('./app/assets/contactme1.jpg')">
			<div class="square-container2">
				<div class="align-center"></div>
				<h2>Contact Number: {{coord.MobileNo}} <br> Email Id: {{coord.Email}}</h2>
			</div>
			<div class="flip-overlay"></div>
		</div>
	</div>
  </div>


  <br/>
  <br/>
  <br/>
  
</div>
</div>
