<div class="container">
	<header class="row" style="margin-top: 10px;">
    	<nav class="col-xs-12">
            <a (click)="designclicked()"><button class="btn btn-default nav-buttons" [class.active]="dept == 'Design'">Design</button></a>
            <a (click)="eventsclicked()"><button class="btn btn-default nav-buttons" [class.active]="dept == 'Events'">Events</button></a>
            <a (click)="facilitiesclicked()"><button class="btn btn-default nav-buttons" [class.active]="dept == 'Facilities'">Facilities</button></a>
            <a (click)="financeclicked()"><button class="btn btn-default nav-buttons" [class.active]="dept == 'Finance'">Finance</button></a>
            <a (click)="hospiclicked()"><button class="btn btn-default nav-buttons" [class.active]="dept == 'Hospitality'">Hospitality</button></a>
            <a (click)="mediaclicked()"><button class="btn btn-default nav-buttons" [class.active]="dept == 'Media'">Media</button></a>
            <a (click)="securityclicked()"><button class="btn btn-default nav-buttons" [class.active]="dept == 'Security'">Security</button></a>
            <a (click)="sponsclicked()"><button class="btn btn-default nav-buttons" [class.active]="dept == 'Spons'">Spons</button></a>
            <a (click)="webopsclicked()"><button class="btn btn-default nav-buttons" [class.active]="dept == 'WebOps'">WebOps</button></a>
    	</nav>
	</header>

<!--  [ngStyle]="{'background-image': 'url('+image_url+coord.PhotoID+')'}" -->

<div class="cardstore">

  <div class="row" *ngIf="dept == 'WebOps'">
            <!-- For Each Department------WebOps-->
  <h2>WebOps & MobOps</h2>  
	<div *ngFor="let coord of WebOps">
		<div class="card col-xs-12 col-sm-6">
            <div class="member-card">
                <!--<div class="card-icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>-->
                <div class='details'>
                        <p class="textshadow"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Name : {{coord.Name}}</p>
                        <p class="textshadow"><i class="fa fa-circle-o" aria-hidden="true"></i> Position : {{coord.Position}}</p>
                        <p class="textshadow"><i class="fa fa-mobile" aria-hidden="true"></i> Mobile No. : {{coord.MobileNo}}</p>
                        <p class="textshadow"><i class="fa fa-envelope" aria-hidden="true"></i> Email : {{coord.Email}}</p>
                </div>
            </div>
        </div>
	</div>
  </div>
        
  <div class="row" *ngIf="dept == 'Spons'">
        <!-- Spons -->
    <h2>Spons</h2>  
	<div *ngFor="let coord of Spons">
		<div class="card col-xs-12 col-sm-6">
            <div class="member-card">
                <!--<div class="card-icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>-->
                <div class='details'>
                        <p class="textshadow"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Name : {{coord.Name}}</p>
                        <p class="textshadow"><i class="fa fa-circle-o" aria-hidden="true"></i> Position : {{coord.Position}}</p>
                        <p class="textshadow"><i class="fa fa-mobile" aria-hidden="true"></i> Mobile No. : {{coord.MobileNo}}</p>
                        <p class="textshadow"><i class="fa fa-envelope" aria-hidden="true"></i> Email : {{coord.Email}}</p>
                </div>
            </div>
        </div>
	</div>
  </div>

  <div class="row" *ngIf="dept == 'Design'">
            <!-- Design -->
    <h2>Design</h2>  
	<div *ngFor="let coord of Design">
		<div class="card col-xs-12 col-sm-6">
            <div class="member-card">
                <!--<div class="card-icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>-->
                <div class='details'>
                        <p class="textshadow"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Name : {{coord.Name}}</p>
                        <p class="textshadow"><i class="fa fa-circle-o" aria-hidden="true"></i> Position : {{coord.Position}}</p>
                        <p class="textshadow"><i class="fa fa-mobile" aria-hidden="true"></i> Mobile No. : {{coord.MobileNo}}</p>
                        <p class="textshadow"><i class="fa fa-envelope" aria-hidden="true"></i> Email : {{coord.Email}}</p>
                </div>
            </div>
        </div>
	</div>
  </div>

  <div class="row" *ngIf="dept == 'Facilities'">
            <!-- Facilities -->
    <h2>Facilities & Requirements</h2>  
	<div *ngFor="let coord of Facilities">
		<div class="card col-xs-12 col-sm-6">
            <div class="member-card">
                <!--<div class="card-icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>-->
                <div class='details'>
                        <p class="textshadow"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Name : {{coord.Name}}</p>
                        <p class="textshadow"><i class="fa fa-circle-o" aria-hidden="true"></i> Position : {{coord.Position}}</p>
                        <p class="textshadow"><i class="fa fa-mobile" aria-hidden="true"></i> Mobile No. : {{coord.MobileNo}}</p>
                        <p class="textshadow"><i class="fa fa-envelope" aria-hidden="true"></i> Email : {{coord.Email}}</p>
                </div>
            </div>
        </div>
	</div>
  </div>


  <div class="row" *ngIf="dept == 'Events'">
            <!-- Events -->
    <h2>Events</h2>  
	<div *ngFor="let coord of Events">
		<div class="card col-xs-12 col-sm-6">
            <div class="member-card">
                <!--<div class="card-icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>-->
                <div class='details'>
                        <p class="textshadow"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Name : {{coord.Name}}</p>
                        <p class="textshadow"><i class="fa fa-circle-o" aria-hidden="true"></i> Position : {{coord.Position}}</p>
                        <p class="textshadow"><i class="fa fa-mobile" aria-hidden="true"></i> Mobile No. : {{coord.MobileNo}}</p>
                        <p class="textshadow"><i class="fa fa-envelope" aria-hidden="true"></i> Email : {{coord.Email}}</p>
                </div>
            </div>
        </div>
	</div>
  </div>

  <div class="row" *ngIf="dept == 'Media'">
            <!-- Media -->
    <h2>Media</h2>  
	<div *ngFor="let coord of Media">
		<div class="card col-xs-12 col-sm-6">
            <div class="member-card">
                <!--<div class="card-icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>-->
                <div class='details'>
                        <p class="textshadow"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Name : {{coord.Name}}</p>
                        <p class="textshadow"><i class="fa fa-circle-o" aria-hidden="true"></i> Position : {{coord.Position}}</p>
                        <p class="textshadow"><i class="fa fa-mobile" aria-hidden="true"></i> Mobile No. : {{coord.MobileNo}}</p>
                        <p class="textshadow"><i class="fa fa-envelope" aria-hidden="true"></i> Email : {{coord.Email}}</p>
                </div>
            </div>
        </div>
	</div>
  </div>

  <div class="row" *ngIf="dept == 'Security'">
            
            <!-- Security -->
    <h2>Security</h2>  
	<div *ngFor="let coord of Security">
		<div class="card col-xs-12 col-sm-6">
            <div class="member-card">
                <!--<div class="card-icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>-->
                <div class='details'>
                        <p class="textshadow"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Name : {{coord.Name}}</p>
                        <p class="textshadow"><i class="fa fa-circle-o" aria-hidden="true"></i> Position : {{coord.Position}}</p>
                        <p class="textshadow"><i class="fa fa-mobile" aria-hidden="true"></i> Mobile No. : {{coord.MobileNo}}</p>
                        <p class="textshadow"><i class="fa fa-envelope" aria-hidden="true"></i> Email : {{coord.Email}}</p>
                </div>
            </div>
        </div>
	</div>
  </div>

  <div class="row" *ngIf="dept == 'Hospitality'">

            <!-- Hospitality -->
    <h2>Hospitality</h2>  
	<div *ngFor="let coord of Hospitality">
		<div class="card col-xs-12 col-sm-6">
            <div class="member-card">
                <!--<div class="card-icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>-->
                <div class='details'>
                        <p class="textshadow"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Name : {{coord.Name}}</p>
                        <p class="textshadow"><i class="fa fa-circle-o" aria-hidden="true"></i> Position : {{coord.Position}}</p>
                        <p class="textshadow"><i class="fa fa-mobile" aria-hidden="true"></i> Mobile No. : {{coord.MobileNo}}</p>
                        <p class="textshadow"><i class="fa fa-envelope" aria-hidden="true"></i> Email : {{coord.Email}}</p>
                </div>
            </div>
        </div>
	</div>
  </div>

  <div class="row" *ngIf="dept == 'Finance'">
            
            <!-- Finance -->
    <h2>Finance</h2>  
	<div *ngFor="let coord of Finance">
		<div class="card col-xs-12 col-sm-6">
            <div class="member-card">
                <!--<div class="card-icon"><i class="fa fa-address-card" aria-hidden="true"></i></div>-->
                <div class='details'>
                        <p class="textshadow"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Name : {{coord.Name}}</p>
                        <p class="textshadow"><i class="fa fa-circle-o" aria-hidden="true"></i> Position : {{coord.Position}}</p>
                        <p class="textshadow"><i class="fa fa-mobile" aria-hidden="true"></i> Mobile No. : {{coord.MobileNo}}</p>
                        <p class="textshadow"><i class="fa fa-envelope" aria-hidden="true"></i> Email : {{coord.Email}}</p>
                </div>
            </div>
        </div>
	</div>
  </div>


  <br/>
  <br/>
  <br/>
  
</div>
</div>
