.body {
  background: rgba(11, 12, 19, 1);
  -webkit-font-smoothing: antialiased;
  height: 100%;
  padding: 0;
  margin: 0;
}

.body.loaded {
  overflow-y: auto;
  overflow-x: hidden;
}

.wrapper {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.loading {
  background: rgba(16, 17, 24, 1);
  height: 100vh;
  overflow: hidden;
  width: 100%;
  position: absolute;
  text-align: center;
  z-index: 1001;
}

.svg-wrapper {
  height: 350px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
}

.animate {
  fill: transparent;
  stroke-dasharray: 300;
  stroke-dashoffset: 600;
  stroke-width: 1px;
  stroke: #fdad59;
}

.text {
  color: #fff;
  display: inline-block;
  position: relative;
  top: -130px;
}

.logo {
  display: block;
  letter-spacing: 7px;
  font-size: 18px;
  /*width: */
  padding-bottom: 5px;
  
  font-family: 'Cinzel';
}

/*.motto {
  display: block;
  padding-top: 10px;
  font-family: 'Cinzel';
  font-size: 9px;
  letter-spacing: 3px;
}*/


/*Desktop navigation*/


.landing {
  width: 100%;
  height: 100%;
  /*transform: scale(1.25);*/
  background-image: linear-gradient(rgba(21, 22, 29, .9), rgba(21, 22, 29, .9)), url(./app/assets/back.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transition: all 1.5s ease;
}

.landing.loaded {
  transform: scale(1.0);
}

.content-1 {
  text-align: center;
  height: 100px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-bottom: 1px solid white;
  overflow: hidden;
  width: 0;
  transition: 1s ease;
}

.content-1.loaded {
  width: 800px;
}

.one,
.two,
.three {
  color: white;
  font-size: 30px;
  position: absolute;
  text-align: center;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: all .75s ease;
  font-family: 'Cinzel';
}

.mouseScroll {
  display: block;
  width: 26px;
  height: 42px;
  border-radius: 20px;
  border: 2px solid #fff;
  text-align: center;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 20px;
  margin: 0 auto;
  transition: opacity 0.5s;
}

.mouseScroll::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 8px;
  position: relative;
  border-radius: 4px;
  background: #fff;
  -webkit-animation: scrollWheel 2s infinite;
  animation-duration: .7s;
  animation-iteration-count: infinite;
  box-sizing: border-box;
}

.mouseScroll:hover {
  cursor: pointer;
  opacity: .5;
}

@keyframes scrollWheel {
  from {
    top: 0px;
  }
  to {
    top: 6px;
  }
}

.about {
  width: 100%;
  padding-bottom: 100px;
  text-align: center;
  color: white;
}

.about h1 {
  font-family: 'Lato', serif, sans-serif;
  font-weight: 100;
  font-size: 40px;
  margin-top: 100px;
  color: white;
}

#mission {
  margin-top: 80px;
  font-family: 'Noto Serif', serif, sans-serif;
  font-style: italic;
  font-size: 20px;
  color: #999;
  width: 70%;
  margin-left: 15%;
  padding-bottom: 30px;
}

:root {
  --cube-height: 60px;
}

.container {
  z-index: 1;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
  width: 260px;
  height: var(--cube-height);
}

.cube {
  width: 250px;
  height: var(--cube-height);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.default-state,
.active-state {
  height: var(--cube-height);
}

.default-state {
  border: 1px solid #fdad59;
  -webkit-transform: translateZ(calc((var(--cube-height)/2)));
  -moz-transform: translateZ(calc((var(--cube-height)/2)));
  -o-transform: translateZ(calc((var(--cube-height)/2)));
  -ms-transform: translateZ(calc((var(--cube-height)/2)));
  transform: translateZ(calc((var(--cube-height)/2)));
}

.active-state {
  color: white;
  -webkit-transform: rotateX(90deg) translateZ(calc((var(--cube-height)*1.5)));
  -moz-transform: rotateX(90deg) translateZ(calc((var(--cube-height)*1.5)));
  -o-transform: rotateX(90deg) translateZ(calc((var(--cube-height)*1.5)));
  -ms-transform: rotateX(90deg) translateZ(calc((var(--cube-height)*1.5)));
  transform: rotateX(90deg) translateZ(calc((var(--cube-height)*1.5)));
}

.container:hover + .cube {
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.cube {
  text-align: center;
  margin: 0 auto;
    line-height: 2;
    min-width: 410px;
}

.default-state,
.active-state {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #be9d7d;
  line-height: var(--cube-height);
}

.active-state {
  background: #fdad59;
  color: white;
}

.sponsors {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background: linear-gradient(rgba(21, 22, 29, .9), rgba(21, 22, 29, .9)), url(./app/assets/back2.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.sponsors h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}

.social {
  width: 100%;
  height: 300px;
}

.hideme {
  opacity: 1;
}

.icoTwitter {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 70px;
  height: 70px;
  font-size: 40px;
  margin: 0 auto;
  line-height: 70px;
  text-align: center;
  color: rgb(40, 40, 40);
  background-color: #fdad59;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: all .5s ease;
}

.icoTwitter:hover {
  background: rgb(31, 32, 39);
  color: #fdad59;
}