.container header{
    background: #333333;
    color: white;
    text-align: center;
    margin-bottom: 0px;
}
.container section{
    background: #D2D2D2;
    overflow: hidden;
    position: relative;
    top: 0px;
    display: inline-block;
    margin-top: -10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 1px;
    min-height: 350px;
    text-align: center;
}
.container section img{
    margin: 5px;
}
.video-box{
    font-size: 500%;
    text-align: center;
}
.fix-icon-position{
    /*margin: 0 auto;*/
    /*top: 41%;*/
    /*left: 46%;*/
    position: absolute;
    color: #fb4a4a;
    margin-top: 72px;
    margin-left: -15px;
}
/*.visibility{*/
    /*visibility: hidden;*/
/*}*/

.each-image, .each-video{
    max-height: 200px;
    display: inline-table;
}
.image-link, .video-link{
    max-height: inherit;
}
.image-size, .video-size{
    max-height: inherit;
}
.fixit{
    width: inherit;
    text-align: center;
}
.more{
  background-color: #000;
  clear: both;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 14px;
  margin-top: 6px;
  padding: 6px 0;
  text-align: center;
  text-transform: uppercase;
  width: 320px;
  margin-bottom: 15px;
}
