
/*Desktop navigation*/

@media screen and (min-width: 610px) {
  .mobile {
    display: none;
  }
  header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    position: fixed;
    -webkit-transition: all .5s;
    transition: all .5s ease;
    z-index: 999;
  }
  header #logo {
    float: left;
    /*margin-left: 5%;*/
    font-family: 'Open Sans';
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 300;
    font-size: 30px;
    color: #fdad59;
  }
  header nav {
    float: right;
    /*margin-right: 5%;*/
    text-align: end;
  }
  header nav a {
    position: relative;
    color: #a3a3a3;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Lato', serif, sans-serif;
    text-decoration: none;
    margin-left: 22px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: color .25s ease;
  }
  nav a:nth-child(1) {
    color: #fdad59;
  }
  nav a:hover {
    color: white;
  }
  header.resize {
    height: 70px;
    line-height: 70px;
    background: rgb(31, 32, 39);
    border-bottom: 1px solid rgb(46, 48, 56);
  }
}


/*----------------------------------------------*/


/*Mobile*/

@media screen and (max-width: 609px) {
  .desktop {
    display: none;
  }
  @import url(https://fonts.googleapis.com/css?family=Vollkorn|Roboto);
  @import url(https://fonts.googleapis.com/css?family=Quicksand);
  body {
    margin: 0;
    padding: 0;
  }
  header {
    width: 100%;
    position: fixed;
    height: 70px;
    line-height: 70px;
    -webkit-transition: all .5s;
    transition: all .5s ease;
    z-index: 999;
  }
  header.resize {
    height: 50px;
    line-height: 50px;
    background: rgb(31, 32, 39);
    border-bottom: 1px solid rgb(46, 48, 56);
  }
  header.resize .button_container {
    top: 14px;
  }
  header.resize #logo {
    font-size: 20px;
  }
  #logo {
    float: left;
    margin-left: 20px;
    font-family: 'Open Sans';
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 200;
    font-size: 20px;
    color: #fdad59;
  }
  .button_container {
    position: fixed;
    width: 30px;
    height: 25px;
    z-index: 100;
    right: 20px;
    top: 25px;
    cursor: pointer;
    -webkit-transition: all .25s;
    transition: all .25s;
  }
  .button_container span {
    width: 30px;
    height: 1px;
    position: absolute;
    background: #fdad59;
    transition: all .35s ease;
  }

  .top {
    top: 0px;
  }
  .middle {
    top: 10px;
  }
  .bottom {
    top: 20px;
  }
  .button_container.active .top {
    -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
    transform: translateY(10px) translateX(0) rotate(45deg);
  }
  .button_container.active .middle {
    opacity: 0;
  }
  .button_container.active .bottom {
    -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
    transform: translateY(-10px) translateX(0) rotate(-45deg);
  }
  .overlay {
    position: fixed;
    background: rgba(26, 27, 34, 1);
    visibility: hidden;
    width: 100%;
    height: 0%;
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-transition: opacity .35s, height .35s, visibility .35s;
    transition: opacity .35s, height .35s, visibility .35s;
    z-index: 1;
  }
  .overlay.open {
    height: 100%;
    opacity: .98;
    visibility: visible;
  }
  .overlay.open li {
    -webkit-animation: fadeInTop .5s ease forwards;
    animation: fadeInTop .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
  }
  .overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
  }
  .overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
  }
  .overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
  }
  .overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 40px;
    font-family: 'Lato', serif;
    font-weight: lighter;
    letter-spacing: 10px;
    text-align: center;
  }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  .overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }
  .overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
  }
  .overlay ul li a:hover:after,
  .overlay ul li a:focus:after,
  .overlay ul li a:active:after {
    width: 100%;
  }
  .overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 1px;
    background: #FFF;
    -webkit-transition: .35s;
    transition: .35s;
  }
  @-webkit-keyframes fadeInTop {
    0% {
      opacity: 0;
      bottom: 20%;
    }
    100% {
      opacity: 1;
      bottom: 0;
    }
  }
  @keyframes fadeInTop {
    0% {
      opacity: 0;
      bottom: 20%;
    }
    100% {
      opacity: 1;
      bottom: 0;
    }
  }
  body {
    height: 3000px;
  }

}


/*----------------------------------------------*/

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.landing {
  width: 100%;
  height: 100%;
  transform: scale(1.25);
  background-image: linear-gradient(rgba(21, 22, 29, .9), rgba(21, 22, 29, .9)), url(main.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  transition: all 1.5s ease;
}

.landing.loaded {
  transform: scale(1.0);
}

.content-1 {
  text-align: center;
  height: 100px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-bottom: 1px solid white;
  overflow: hidden;
  width: 0;
  transition: 1s ease;
}

.content-1.loaded {
  width: 800px;
}

.one,
.two,
.three {
  color: white;
  font-size: 30px;
  position: absolute;
  text-align: center;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: all .75s ease;
  font-family: 'Cinzel';
}

.mouseScroll {
  display: block;
  width: 26px;
  height: 42px;
  border-radius: 20px;
  border: 2px solid #fff;
  text-align: center;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 20px;
  margin: 0 auto;
  transition: opacity 0.5s;
}

.mouseScroll::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 8px;
  position: relative;
  border-radius: 4px;
  background: #fff;
  -webkit-animation: scrollWheel 2s infinite;
  animation-duration: .7s;
  animation-iteration-count: infinite;
  box-sizing: border-box;
}

.mouseScroll:hover {
  cursor: pointer;
  opacity: .5;
}

@keyframes scrollWheel {
  from {
    top: 0px;
  }
  to {
    top: 6px;
  }
}

.about {
  width: 100%;
  padding-bottom: 100px;
  text-align: center;
  color: white;
}

.about h1 {
  font-family: 'Lato', serif, sans-serif;
  font-weight: 100;
  font-size: 40px;
  margin-top: 100px;
}

#mission {
  margin-top: 80px;
  font-family: 'Noto Serif', serif, sans-serif;
  font-style: italic;
  font-size: 20px;
  color: #999;
  width: 70%;
  margin-left: 15%;
  padding-bottom: 30px;
}

:root {
  --cube-height: 60px;
}

.container {
  z-index: 1;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
  width: 260px;
  height: var(--cube-height);
}

.cube {
  width: 250px;
  height: var(--cube-height);
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.default-state,
.active-state {
  height: var(--cube-height);
}

.default-state {
  border: 1px solid #fdad59;
  -webkit-transform: translateZ(calc((var(--cube-height)/2)));
  -moz-transform: translateZ(calc((var(--cube-height)/2)));
  -o-transform: translateZ(calc((var(--cube-height)/2)));
  -ms-transform: translateZ(calc((var(--cube-height)/2)));
  transform: translateZ(calc((var(--cube-height)/2)));
}

.active-state {
  color: white;
  -webkit-transform: rotateX(90deg) translateZ(calc((var(--cube-height)*1.5)));
  -moz-transform: rotateX(90deg) translateZ(calc((var(--cube-height)*1.5)));
  -o-transform: rotateX(90deg) translateZ(calc((var(--cube-height)*1.5)));
  -ms-transform: rotateX(90deg) translateZ(calc((var(--cube-height)*1.5)));
  transform: rotateX(90deg) translateZ(calc((var(--cube-height)*1.5)));
}

.container:hover + .cube {
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

.cube {
  text-align: center;
  margin: 0 auto;
}

.default-state,
.active-state {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #be9d7d;
  line-height: var(--cube-height);
}

.active-state {
  background: #fdad59;
  color: white;
}

.sponsors {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background: linear-gradient(rgba(21, 22, 29, .9), rgba(21, 22, 29, .9)), url(main1.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.sponsors h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}

.social {
  width: 100%;
  height: 300px;
}

.hideme {
  opacity: 0;
}

.icoTwitter {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 70px;
  height: 70px;
  font-size: 40px;
  margin: 0 auto;
  line-height: 70px;
  text-align: center;
  color: rgb(40, 40, 40);
  background-color: #fdad59;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: all .5s ease;
}

.icoTwitter:hover {
  background: rgb(31, 32, 39);
  color: #fdad59;
}