<div class="container">
  <div class="livecontainer" *ngFor="let d of loadeddata; let i = index">
    <div class="paddingandmargin" *ngIf="data[i]['SportName'] == 'online' || data[i]['showText'] == 'on'">
    <div class="title">
      <h2 [innerHtml]="data[i]['SportName']"></h2>
    </div>
    <div class="iframe-object" *ngIf="d['embedURL']">
      ​​<iframe allowfullscreen="" frameborder="0" scrolling="no" [src]="geturl(d['embedURL'],i)" style="border:0;outline:0"></iframe>​
    </div>
    <div class="participant">
      <h2 [innerHtml]="data[i]['Participant']"></h2>
    </div>
    <div class="score"><h2 [innerHtml]="data[i]['Score']"></h2></div>
    <div class="description"><h3 [innerHtml]="data[i]['Description']"></h3></div>
    </div>
  </div>
  <!--<div class="livecontainer-alt" class="hide"><h2>Live stream is not available now. Please check back soon.</h2></div>-->
</div>
